@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

@font-face { 
  font-family: CuteNotes; 
  src: url('CuteNotes-EL7r.ttf'); 
} 


.navMenu {
  position: relative;
  text-align: center;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 2em;
  font-family: CuteNotes;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #FFC0CB;
}




body {
	background-image: url("/static/images/artworkbg.jpg");
  background-position: center;
  background-size: cover;

}

.image {
  text-align: center;
  position: relative;
}




.centered {
  position: absolute;
  bottom: 50px;
  left: 17px;
  height: auto;
  width: 155px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}




.overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.overlay:hover {
  opacity: 1;
}

.overlay:hover > * {
  transform: translateY(0);
}

.price {
  font-size: 2em;
  font-weight: bold;
}

.size {
  font-size: 1.25em;
  margin-top: 0.25em;
}

