.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
  }


.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

@font-face { 
	font-family: WTTWmessy; 
	src: url('Wttwmessy-M2Kn.ttf'); 
} 


@font-face { 
	font-family: CuteNotes; 
	src: url('CuteNotes-EL7r.ttf'); 
} 