

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
  }


.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;

}

@font-face { 
	font-family: WTTWmessy; 
	src: url('Wttwmessy-M2Kn.ttf'); 

} 


.column1 {
	height: 100px;
}

.column2 {
	height: 100px;
	padding-top: 25%;
}