{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ViewArtWork.css' %}">

<br/>
<br/>
<br/>
<div class="row">
	<div class="column">
		<img class="image" style="width: 700px; margin-left: auto; margin-right: auto; display: block; padding-top: 5%" src="\static/images/IMG_3106.jpg">
	</div>
	<div class="column">
		<p style="font-size: 4em; font-family: CuteNotes; color: #f6f4e6; padding-top: 5%; margin-left: auto; margin-right: auto; display: block;">bshelley Paints</p>
		<br/>
		<br/>
		<p style="font-size: 2em; font-family: WTTWmessy; color: #f6f4e6; ">My Name is Bella Shelley, I am from Hot Springs Arkansas, and I love to paint! I have been creating art for about 2 years now. It started out as a hobby, but is now turning into a business. Take a look at the previous peices I have created in the home tab. If you would like for me to commission a peice for you, click the commission tab and fill out the information. For any other questions email me at: <cite><a href="mailto:bshelleypaints@gmail.com">bshelleypaints@gmail.com</a></cite>. Thank you for visiting! </p>
		
	</div>
</div>



{% endblock %}