{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>


<div onclick="location.href='artwork';" class="container">
  <!--
  <div class="flex">
    <div class="cube">
      <div class="wall front"></div>
      <div class="wall back"></div>
      <div class="wall left"></div>
      <div class="wall right"></div>
      <div class="wall top">
        <img src="/static/images/16.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"></div>
    </div>
    <div class="cube">
      <div class="wall front"></div>
      <div class="wall back"></div>
      <div class="wall left"></div>
      <div class="wall right"></div>
      <div class="wall top">
        <img src="/static/images/15.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"></div>
    </div>
    <div class="cube">
      <div class="wall front"></div>
      <div class="wall back"></div>
      <div class="wall left"></div>
      <div class="wall right"></div>
      <div class="wall top">
        <img src="/static/images/14.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"></div>
    </div>
    <div class="cube">
      <div class="wall front"></div>
      <div class="wall back"></div>
      <div class="wall left"></div>
      <div class="wall right"></div>
      <div class="wall top">
        <img src="/static/images/13.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"></div>
    </div>
  </div>
  <div class="flex">
    <div class="cube">
      <div class="wall front"></div>
      <div class="wall back"></div>
      <div class="wall left"></div>
      <div class="wall right"></div>
      <div class="wall top">
        <img src="/static/images/12.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"></div>
    </div>
    <div class="cube">
      <div class="wall front"></div>
      <div class="wall back"></div>
      <div class="wall left"></div>
      <div class="wall right"></div>
      <div class="wall top">
        <img src="/static/images/11.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"></div>
    </div>
    <div class="cube">
      <div class="wall front"></div>
      <div class="wall back"></div>
      <div class="wall left"></div>
      <div class="wall right"></div>
      <div class="wall top">
        <img src="/static/images/10.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"></div>
    </div>
    <div class="cube">
      <div class="wall front"></div>
      <div class="wall back"></div>
      <div class="wall left"></div>
      <div class="wall right"></div>
      <div class="wall top">
        <img src="/static/images/9.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"></div>
    </div>
  </div>
  <div class="flex">
    <div class="cube">
      <div class="wall front"></div>
      <div class="wall back"></div>
      <div class="wall left"></div>
      <div class="wall right"></div>
      <div class="wall top">
        <img src="/static/images/8.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"></div>
    </div>
    <div class="cube">
      <div class="wall front"></div>
      <div class="wall back"></div>
      <div class="wall left"></div>
      <div class="wall right"></div>
      <div class="wall top">
        <img src="/static/images/7.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"></div>
    </div>
    <div class="cube">
      <div class="wall front"></div>
      <div class="wall back"></div>
      <div class="wall left"></div>
      <div class="wall right"></div>
      <div class="wall top">
        <img src="/static/images/6.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"></div>
    </div>
    <div class="cube">
      <div class="wall front"></div>
      <div class="wall back"></div>
      <div class="wall left"></div>
      <div class="wall right"></div>
      <div class="wall top">
        <img src="/static/images/5.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"></div>
    </div>
  </div>
-->
  <div class="flex">
    <div class="cube">
      <div class="wall front"><img src="/static/images/16.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/16.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/16.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/16.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/16.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/16.jpg" style="height:80px; width:80px"></div>
    </div>
    <div class="cube">
      <div class="wall front"><img src="/static/images/15.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/15.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/15.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/15.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/15.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/15.jpg" style="height:80px; width:80px"></div>
    </div>
    <div class="cube">
      <div class="wall front"><img src="/static/images/14.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/14.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/14.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/14.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/14.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/14.jpg" style="height:80px; width:80px"></div>
    </div>

    <div class="cube">
      <div class="wall front"><img src="/static/images/13.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/13.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/13.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/13.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/13.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/13.jpg" style="height:80px; width:80px"></div>
    </div>
  </div>
  <div class="flex">
    <div class="cube">
      <div class="wall front"><img src="/static/images/12.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/12.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/12.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/12.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/12.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/12.jpg" style="height:80px; width:80px"></div>
    </div>
    <div class="cube">
      <div class="wall front"><img src="/static/images/11.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/11.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/11.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/11.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/11.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/11.jpg" style="height:80px; width:80px"></div>
    </div>
    <div class="cube">
      <div class="wall front"><img src="/static/images/10.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/10.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/10.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/10.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/10.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/10.jpg" style="height:80px; width:80px"></div>
    </div>
    
    <div class="cube">
      <div class="wall front"><img src="/static/images/9.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/9.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/9.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/9.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/9.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/9.jpg" style="height:80px; width:80px"></div>
    </div>
  </div>
  <div class="flex">
    <div class="cube">
      <div class="wall front"><img src="/static/images/8.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/8.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/8.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/8.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/8.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/8.jpg" style="height:80px; width:80px"></div>
    </div>
    <div class="cube">
      <div class="wall front"><img src="/static/images/7.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/7.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/7.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/7.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/7.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/7.jpg" style="height:80px; width:80px"></div>
    </div>
    <div class="cube">
      <div class="wall front"><img src="/static/images/6.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/6.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/6.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/6.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/6.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/6.jpg" style="height:80px; width:80px"></div>
    </div>
    
    <div class="cube">
      <div class="wall front"><img src="/static/images/5.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/5.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/5.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/5.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/5.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/5.jpg" style="height:80px; width:80px"></div>
    </div>
  </div>
  <div class="flex">
    <div class="cube">
      <div class="wall front"><img src="/static/images/4.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/4.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/4.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/4.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/4.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/4.jpg" style="height:80px; width:80px"></div>
    </div>
    <div class="cube">
      <div class="wall front"><img src="/static/images/3.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/3.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/3.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/3.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/3.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/3.jpg" style="height:80px; width:80px"></div>
    </div>
    <div class="cube">
      <div class="wall front"><img src="/static/images/2.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/2.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/2.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/2.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/2.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/2.jpg" style="height:80px; width:80px"></div>
    </div>
    
    <div class="cube">
      <div class="wall front"><img src="/static/images/1.jpg" style="height:80px; width:80px"></div>
      <div class="wall back"><img src="/static/images/1.jpg" style="height:80px; width:80px"></div>
      <div class="wall left"><img src="/static/images/1.jpg" style="height:80px; width:80px"></div>
      <div class="wall right"><img src="/static/images/1.jpg" style="height:80px; width:80px"></div>
      <div class="wall top">
        <img src="/static/images/1.jpg" style="height:80px; width:80px">
      </div>
      <div class="wall bottom"><img src="/static/images/1.jpg" style="height:80px; width:80px"></div>

    </div>
  </div>
<!--
  <script>
    function stuff() { 
      var head = document.getElementsByTagName('HEAD')[0]; 
  
        // Create new link Element
        var link = document.createElement('link');
  
        // set the attributes for link element 
        link.rel = 'stylesheet'; 
      
        link.type = 'text/css';
      
        link.href = 'static/css/foo.css'; 
  
        // Append link element to HTML head
        head.appendChild(link);
    } 
  </script>
-->
</div>

