{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ViewArtWork.css' %}">

<br/>
<br/>
<br/>
<div class="row">
	<div class="column">

		<img class="image" style="height:700px; width:auto;" src="\media/{{picture}}">
	</div>
	<div class="column">
		<img style="width: 650px; padding-top: 5%; padding-left: 10%;" src="https://see.fontimg.com/api/renderfont4/y2em/eyJyIjoiZnMiLCJoIjo1NCwidyI6MTAwMCwiZnMiOjU0LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/QmVsbGEgU2hlbGxleQ/cute-notes.png" alt="Cute fonts">
		<br/>
		<br/>
		<p style="font-size: 3em; font-family: WTTWmessy;">Price: ${{price}}</p>
		<p style="font-size: 3em; font-family: WTTWmessy; ">Dimensions: {{size}}</p>
		<br/>
		<p style="font-size: 2.5em; font-family: WTTWmessy;">About: {{about}}</p>
	</div>
</div>


{% endblock %}