{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ViewArtWork.css' %}">

<br/>
<br/>
<br/>
<div class="row">
	<div class="column">

		<img class="image" style="width: 600px; margin-left: auto; margin-right: auto; display: block; padding-top: 5%" src="\media/{{picture}}">
	</div>
	<div class="column">
		<p style="font-size: 4em; font-family: CuteNotes; color: #f6f4e6; padding-top: 5%; margin-left: auto; margin-right: auto; display: block;">bshelley Paints</p>
		<br/>
		<br/>
		<p style="font-size: 3em; font-family: WTTWmessy; color: #f6f4e6; margin-left: 60px; display: block; ">Price: ${{price}}</p>
		<p style="font-size: 3em; font-family: WTTWmessy; color: #f6f4e6; margin-left: 60px; display: block;">Dimensions: {{size}}</p>
		<br/>
		<p style="font-size: 2.5em; font-family: WTTWmessy; color: #f6f4e6; margin-left: 60px; display: block;">About: {{about}}</p>
	</div>
</div>


{% endblock %}